.scrolling {
  display: flex;
  overflow-y: hidden;
  padding: 16px;
  gap: 25px;
  height: 330px;
  text-align: center;
}
.back>h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding: 25px;
}
.back{
    padding-bottom: 50px;
    background-color: #A1A6B4;
}
.prop {
  flex: 0 0 auto; 
  width: 250px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 6px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
  background: white;
  font-size: medium;
}

.prop img {
  width: 100%;
  margin-bottom: 16px;
}
